        // CSS Reset 
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Kodchasan', 'Roboto', sans-serif; 
            // Fonte personalizada do Google Fonts 
            background-color: #ccc;
            text-align: center;
        }

        //Cabeçalho
        header {
            background-color: #ccc;
           // padding: 20px;
            text-align: center;
            border-bottom: 1px solid #ccc;
        }

        .logo img{
            max-width: 150px;
            height: auto;
        }
        nav {
            margin-top: 20px;
            flex-grow: 1;
            text-align: center;
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;
            display: inline-block; 
            // Centraliza horizontalmente
        }

        nav ul li {
            font-size: 14px;
            font-weight: bold;
            display: inline; // Exibe os links na horizontal 
            margin: 0 15px; // Espaçamento entre os links 
        }

        nav ul li a {
            text-decoration: none;
            color: #000;
        }

        /// Seção principal
        .main-content {
            display: flex;
            justify-content: space-between;
            margin: 20px;
            gap: 20px;
        }

        .main-content .left, .main-content .right {
            flex: 1;
        }

        .main-content .left img {
            width: auto;
            border-radius: 10px;
        }

        .main-content .right h2 {
            font-size: 24px;
            color: #000;
            margin-bottom: 15px;
        }

        .main-content .right p {
            color: #000;
            font-size: 16px;
            margin-bottom: 20px;
        }

        /// Produtos favoritos
        .favorites {
            text-align: center;
            margin: 40px 20px;
        }

        .favorites h3 {
            font-size: 22px;
            margin-bottom: 20px;
        }

        .favorites .products {
            display: flex;
            justify-content: center;
            gap: 20px;
            
        }

        .favorites .left h3{
            flex: 1;
            display: flex;
            justify-content: space-between;
        }

        .favorites .products img {
            width: auto;
            height: auto;
        }


         // Seção das Imagens 
        .favorites .products .right {
            display: flex;
            justify-content: space-between;
            flex: 1;
        }

         .grid-container {
            display: grid;
            grid-template-columns: repeat(4, minmax(150px, 1fr)); 
            // Ajusta o número de colunas conforme o espaço disponível 
            gap: 20px; 
            //Espaçamento entre as imagens 
            justify-items: center; 
            // Centraliza as imagens horizontalmente
            padding: 20px;
        }

        .grid-container img {
            width: 100%;
            max-width: 150px; // Define um limite para a largura das imagens */
            height: auto;
        }

        /// Responsividade
        @media (max-width: 768px) {
            .background {
                display: none;
                visibility: hidden;
                opacity:0;
                margin-left: 100px;
            }
            .grid-container {
                grid-template-columns: repeat(2, minmax(120px, 120px)); 
                // Ajusta o grid para telas menores 
                justify-items: center;
                gap:20px
            }

            .grid-container img {
                max-width: 120px; 
                // Ajusta o tamanho das imagens para telas pequenas 
                justify-items: center;
            }

            nav ul {
                flex-direction: column;
                gap: 10px;
                justify-content: center;
            }

            .main-content {
                flex-direction: column;
                margin: 10px;
            }

            .main-content .right h2 {
                font-size: 20px;
            }

            .main-content .right p {
                font-size: 14px;
            }

            .favorites .products {
                //flex-direction: column;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 470px;
                justify-content: center;
            }

            .favorites .products img {
                width: 80px;
            }
        }